export ASTRA_DB_APPLICATION_TOKEN="AstraCS:aaabbbccc..."
export ASTRA_DB_API_ENDPOINT="https://0123...-region.apps.astra.datastax.com"
export ASTRA_DB_KEYSPACE="default_keyspace"

# required to test vectorize with SHARED_SECRET
export SHARED_SECRET_NAME_OPENAI="NAME_SUPPLIED_IN_ASTRA_KMS"
# required to test vectorize with HEADER
export OPENAI_API_KEY="sk-aaabbbccc..."

# change to "1" if nvidia server-side embeddings are available for the DB
export NVIDIA_VECTORIZE_AVAILABLE="0"
