# ASTRA DB SETUP

ASTRA_DB_API_ENDPOINT=https://your_astra_db_id-your_region.apps.astra.datastax.com
ASTRA_DB_APPLICATION_TOKEN=AstraCS:your_astra_db_application_token
# ASTRA_DB_KEYSPACE=your_astra_db_keyspace
# ASTRA_DB_ENVIRONMENT="prod"

SHARED_SECRET_NAME_OPENAI="key_name_on_astra_kms"
OPENAI_API_KEY="..."


### For testing on HCD it will not do SHARED_SECRET vectorize and look something like:
#
#
#
#    ASTRA_DB_APPLICATION_TOKEN="Cassandra:Y2Fzc2FuZHJh:Y2Fzc2FuZHJh"
#    ASTRA_DB_API_ENDPOINT="http://localhost:8181"
#    ASTRA_DB_KEYSPACE="keyspace_created_by_the_ci_for_testing"
#    ASTRA_DB_ENVIRONMENT="hcd"
#   
#    OPENAI_API_KEY="..."
#
#
#
