export ASTRA_DB_APPLICATION_TOKEN="AstraCS:aaabbbccc..."
export ASTRA_DB_API_ENDPOINT="https://0123...-region.apps.astra.datastax.com"
export ASTRA_DB_KEYSPACE="default_keyspace"

# required to test vectorize with SHARED_SECRET
export SHARED_SECRET_NAME_OPENAI="NAME_SUPPLIED_IN_ASTRA_KMS"
# required to test vectorize with HEADER
export OPENAI_API_KEY="sk-aaabbbccc..."

# Also invoke pytest prepending `NVIDIA_VECTORIZE_AVAILABLE=1` if
# the database supports server-side nVidia embeddings as well